.faq {
  width: 90%;
  margin: auto;
  max-width: 1500px;

  &__title {
    font-family: 'Montserrat semi bold', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: #ffffffbf;
    max-width: 820px;
    margin: 0 0 50px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__item {
    padding: 40px 100px 60px 100px;
    border: 2px solid #ffffff66;
    border-radius: 20px;
    display: flex;
    gap: 28px;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;

    &:hover {
      border-color: #af7b20;

      & .faq__answer {
        max-height: 1000px;
        transition: max-height 0.8s ease-in-out;
      }

      & .faq__arrow {
        transform: scaleY(-1);
      }
    }
  }

  &__num,
  &__question {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48.76px;
    text-align: left;
    color: #ffffff;
  }

  &__answer {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff80;
    font-weight: 400;
    text-align: left;
    margin: 26px 0 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  &__text {
    width: 100%;
  }

  @media (max-width: 1920px) {
    & &__title {
      line-height: normal;
      font-size: 46px;
      margin: 0px 0 50px 0;
    }
    & &__num,
    & &__question {
      font-size: 30px;
      line-height: normal;
    }
    & &__item {
      padding: 20px 50px 60px 50px;
    }
    & &__answer {
      font-size: 22px;
      line-height: normal;
    }
  }
  @media (max-width: 1700px) {
    & &__item {
      padding: 20px 30px 30px 20px;
    }
    // & &__wrapper {
    //   width: 90%;
    //   margin: auto;
    // }
    & &__num,
    & &__question {
      font-size: 22px;
    }
    & &__answer {
      font-size: 16px;
    }
    & {
      width: 80%;
    }
  }
  @media (max-width: 1500px) {
    & &__title {
      font-size: 30px;
    }
    & &__num,
    & &__question {
      line-height: normal;
      font-size: 16px;
    }

    & &__answer {
      line-height: normal;
      font-size: 14px;
    }

    & &__item {
      padding: 20px 30px 20px 40px;
    }
  }

  @media (max-width: 1024px) {
    & &__title {
      font-size: 20px;
      text-transform: uppercase;
    }

    & &__num,
    & &__question {
      font-size: 16px;
    }

    & &__arrow {
      max-width: 20px;
    }

    & &__item {
      padding: 20px;
    }

    & &__answer {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    & &__title {
      font-size: 20px;
    }

    & &__item {
      padding: 10px;
      border-radius: 10px;
    }

    & &__num,
    & &__question {
      font-size: 16px;
    }
    & &__answer {
      font-size: 12px;
      margin: 14px 0 0 0;
    }
  }

  @media (max-width: 450px) {
    & {
      width: 90%;
    }
    & &__wrapper {
      width: 100%;
    }

    & &__num,
    & &__question {
      font-size: 14px;
    }

    & &__title {
      font-size: 24px;
    }

    & &__arrow {
      max-width: 10px;
    }

    & &__item {
      gap: 10px;
    }

    & &__answer {
      font-size: 12px;
    }
  }
}
