.main {
  padding: 50px 0;
  // display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__back {
  align-self: center;
  justify-self: center;
  max-width: 1031px;
  opacity: 0.5;
  width: 60%;
}

.main__content {
  position: absolute;
  align-self: center;
  justify-self: center;
}
.main__company-name {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 120px;
  font-weight: 600;
  line-height: 146.28px;
  letter-spacing: 0.18em;
  text-align: center;
  color: #ffffffbf;
}
.main__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 48.76px;
  text-align: center;
  color: #ffffff;
  margin: 40px 0 46px 0;
}
.main__contact {
  border: 3px solid var(--Yelow, #af7b20);
  padding: 16px 35px;
  border-radius: 40px;
  margin: auto;
  display: flex;
  text-decoration: none;
  gap: 20px;
  width: fit-content;
  align-items: center;
  background: var(--Black, #000000);
  transition: 0.3s;

  &:hover {
    background: var(--Yelow, #af7b20);

    .main__contact-link {
      color: #000000;
      font-weight: 600;
    }
    .main__contact-img {
      display: none;
    }
    .main__contact-img-black {
      display: block;
    }
  }
}
.main__contact-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
}

.main__contact-img-black {
  display: none;
}

.services {
  width: 90%;
  margin: auto;
}
.services__title {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 78.02px;
  text-align: center;
  color: #ffffffcc;
  text-transform: uppercase;
  margin: 0 0 50px 0;
}

.services__bullits {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-auto-rows: 1fr;
  width: 100%;
  margin: auto;
  gap: 25px;
}

.services__bullits-item {
  display: flex;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}
.services__bullit-back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.5;
  object-fit: cover;
  z-index: 0;
}

.services__bullits-item-default {
  position: absolute;
  z-index: 1;
  padding: 24px;
  width: 100%;
  display: block;
  transition: 0.3s;
  height: 100%;
}

.services__item-title {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: left;
  color: #ffffff;
}

.servises__item-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
}
.services__item-active {
  position: relative;
  z-index: 1;
  display: grid;
}

.services__robot-img {
  max-height: 405px;
  margin: auto;
}

.services__bullits-item:hover {
  outline: 2px solid #d7ac45;
  box-shadow: 0px 0px 9px 0px #d7ac45;
}

.services__bullits-item:hover .services__bullits-item-default {
  display: none;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.services__item-active {
  background: #000000e5;
  width: 100%;
  padding: 24px 30px;
  transition: 0.3s;
  position: relative;
  align-items: center;

  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.services__bullits-item:hover .services__item-active {
  transition: 0.3s;

  opacity: 1;
  visibility: visible;
}
.services__item-description {
  align-self: self-start;
}

.services__item-li {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 200;
  line-height: 33px;
  text-align: left;
  list-style-type: none;
}
.services__item-li:before {
  content: '•  ';
}
.services__item-button {
  border: 3px solid var(--Yelow, #af7b20);
  background: var(--Black, #000000);
  padding: 10px 26px;
  border-radius: 40px;
  width: fit-content;
  display: block;
  margin: 10px auto 0 auto;

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;

  align-self: flex-end;
  justify-self: center;
  cursor: pointer;
  transition: 0.3s;

  text-decoration: none;

  &:hover {
    background: var(--Yelow, #af7b20);

    font-weight: 600;
    color: #000000;
  }
}

.about {
  padding: 75px 0;
  display: grid;
  position: relative;
  width: 100%;
  margin: auto;
}

.about__pegas-left {
  position: absolute;
  align-self: center;
  left: 0;
  width: 50%;
  max-width: 700px;
  z-index: 0;
}

.about__pegas-right {
  position: absolute;
  align-self: center;
  right: 0;
  width: 50%;
  z-index: 0;
  max-width: 700px;
  transform: scaleX(-1);
}

.about__container {
  max-width: 1216px;
  width: 90%;
  z-index: 1;
  margin: auto;
}

.about__button {
  border: 3px solid var(--Yelow, #af7b20);
  padding: 22px 40px;
  border-radius: 75px;
  margin: auto;
  display: flex;
  text-decoration: none;
  gap: 20px;
  width: fit-content;

  align-items: center;
  background: var(--Black, #000000);
  transition: 0.3s;

  &:hover {
    background: var(--Yelow, #af7b20);

    .about__button-text {
      color: #000000;
    }
    .about__button-img {
      display: none;
    }

    .about__button-black {
      display: block;
    }
  }
}
.about__button-text {
  font-size: 64px;
  color: #ffffff;
  font-weight: 400;
  line-height: 78.02px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.about__button-img {
  width: 60px;
}

.about__button-black {
  display: none;
  width: 60px;
}

.about__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  color: #eaeaea;
  margin: 32px 0 0 0;
}

.partners {
  background: linear-gradient(
      0deg,
      var(--Yelow, #af7b20),
      var(--Yelow, #af7b20)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  padding: 24px 0;

  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.partners__container {
  width: 80%;
  max-width: 849px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.consultation {
  margin: 75px auto;
  width: 90%;
  border: 3px solid var(--White-Strobe-Form, #ffffff80);
  border-radius: 60px;
  position: relative;
}

.consultation__shadow {
  -webkit-box-shadow: 10px -6px 600px 300px rgba(215, 172, 69, 0.3);
  -moz-box-shadow: 10px -6px 600px 300px rgba(215, 172, 69, 0.3);
  box-shadow: 10px -6px 600px 300px rgba(215, 172, 69, 0.3);
  position: absolute;
  top: 30%;
  right: 10%;
  width: 0px;
  height: 00px;
  background: transparent;
  z-index: 0;
}

.consultation__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
}

.consultation__img {
  height: 100%;
  max-width: 963px;
  width: 60%;
}

.consultation__right {
  padding: 54px 46px 0 46px;
  position: relative;
}

.consultation__thanks {
  // display: none;
  // width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  // padding: 0 30px 0 0;
}

.consultation__title-thank {
  p {
    font-size: 40px;
    line-height: normal;
  }
}

.consultation__title {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  text-align: center;
  color: #ffffffbf;
  max-width: 541px;
  margin: 0 0 54px 0;
}

.consultation__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    border: 1px solid var(--Grey-input-Strobe, #cacaca);
    padding: 18px 15px;
    background: transparent;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    transition: 0.3s;
    &:focus {
      border: 1px solid #d7ac45;
    }

    &.reg::placeholder {
      color: #686868;
    }
  }
  .consultation__submit {
    border: 3px solid #d7ac45;
    background: #000000;
    border-radius: 40px;
    text-align: center;
    max-width: 274px;
    margin: auto;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 18px 70px;
    transition: 0.3s;

    &:hover {
      background: #d7ac45;
      color: #000000;
    }
  }
}

.services__back-mobile {
  display: none;
}

@media (max-width: 1600px) {
  .main__back {
    max-width: 600px;
  }
  .main__company-name {
    font-size: 90px;
    line-height: normal;
  }
  .main__title {
    line-height: normal;
    font-size: 28px;
    margin: 30px 0;
  }
  .services__title {
    line-height: normal;
    font-size: 40px;
  }
  .services__item-title {
    line-height: normal;
    font-size: 24px;
  }
  .services__item-li {
    line-height: normal;
    font-size: 14px;
  }
  .services__robot-img {
    max-height: 300px;
  }
  .services__bullits {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .servises__item-arrow {
    width: auto;
  }
  .about__button {
    padding: 15px 25px;
  }
  .about__button-text {
    line-height: normal;
    font-size: 44px;
  }
  .about__button-img,
  .about__button-black {
    width: 40px;
  }
  .about__description {
    line-height: normal;
    font-size: 20px;

    max-width: 889px;
    margin: 32px auto 0 auto;
  }
  .about__pegas-right,
  .about__pegas-left {
    width: auto;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
  }
  .about {
    padding: 100px 0;
  }
  .partners__item {
    height: 30px;
  }
  .consultation__container {
    padding: 50px;
  }
}

@media (max-width: 1440px) {
  .main__contact-link {
    font-size: 19px;
    line-height: normal;
    padding: 5px 10px;
  }
  .services__item-button {
    padding: 9px 25px;
    line-height: normal;
    font-size: 17px;
  }
  .services__robot-img {
    max-height: 219px;
  }
  .services__bullits {
    grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  }
  .services__item-active {
    padding: 15px 20px;
  }
  .about__button-text {
    line-height: normal;
    font-size: 29px;
  }
  .about__button-img,
  .about__button-black {
    width: 30px;
  }
  .consultation__title {
    font-size: 34px;
    line-height: normal;
  }
  .consultation__form input {
    width: 100%;
  }
}
@media (max-width: 1078px) {
  .main__back {
    max-width: 400px;
  }
  .main__company-name {
    font-size: 70px;
  }
  .main__title {
    font-size: 22px;
    margin: 20px 0;
  }
  .main__contact {
    padding: 6px 26px;
    gap: 5px;
  }
  .main__contact-link {
    font-size: 16px;
  }
  .main__contact-img,
  .main__contact-img-black {
    max-width: 20px;
  }
  .services__title {
    font-size: 25px;
  }
  .services__item-title {
    font-size: 16px;
  }
  .services__bullits {
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
  }
  .services__item-li {
    font-size: 12px;
  }
  .fab {
    max-width: 45px;
  }
  .about__description {
    font-size: 16px;
    max-width: 539px;
  }
  .about__button {
    gap: 10px;
    padding: 10px 15px;
  }
  .about__button-text {
    font-size: 25px;
  }
  .partners__item {
    height: 25px;
  }
  .consultation__img {
    width: 50%;
  }
  .consultation__container {
    padding: 20px;
  }
  .consultation__right {
    padding: 20px;
  }
  .consultation__title {
    margin: 0 0 25px 0;
  }
  .consultation__form input {
    font-size: 16px;
    padding: 10px 10px;
  }
  .consultation__form {
    .consultation__submit {
      font-size: 16px;
      padding: 10px 15px;
      max-width: 183px;
    }
  }
  .consultation__shadow {
    top: -4%;
    right: 0%;
  }
}
@media (max-width: 768px) {
  .main__company-name {
    font-size: 50px;
  }
  .main {
    padding: 10px 0;
  }
  .main__title {
    font-size: 16px;
    margin: 10px 0 15px 0;
  }
  .main__contact-link {
    font-size: 14px;
  }
  .services__title {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .services__robot-img {
    max-height: 200px;
  }
  .services__bullits-item-default {
    padding: 10px 20px;
  }
  .services__bullits {
    gap: 15px;
  }
  .services__item-active {
    padding: 10px 20px;
  }

  .services__item-button {
    padding: 10px 15px;
    font-size: 14px;
  }
  .consultation__title {
    font-size: 20px;
  }
  .consultation__form input {
    font-size: 14px;
    padding: 5px 10px;
    line-height: normal;
    border-radius: 6px;
  }
  .consultation__form .consultation__submit {
    font-size: 14px;
    line-height: normal;
  }

  .consultation__img {
    width: 40%;
  }
  .partners__container {
    gap: 20px;
  }
  .consultation {
    border-radius: 30px;
  }
  .consultation__shadow {
    -webkit-box-shadow: 10px -6px 600px 200px rgba(215, 172, 69, 0.3);
    -moz-box-shadow: 10px -6px 600px 200px rgba(215, 172, 69, 0.3);
    box-shadow: 10px -6px 600px 200px rgba(215, 172, 69, 0.3);
  }
  .consultation__right {
    padding: 0;
  }
  .about__pegas-right,
  .about__pegas-left {
    height: auto;
    width: 50%;
  }
}

@media (max-width: 450px) {
  .main {
    padding: 80px 0;
  }
  .main__back {
    max-width: 500px;
    width: 120%;
  }
  .main__company-name {
    font-size: 40px;
  }
  .main__title {
    margin: 20px 0 70px;
  }
  .main__contact {
    border: 1px solid var(--Yelow, #af7b20);
    padding: 10px 16px;
  }
  .main__contact-link {
    padding: 0;
  }
  .services__title {
    font-size: 24px;
  }
  .services__item-title {
  }
  .servises__item-arrow {
    display: none;
  }
  .services__bullits {
    gap: 0;
  }
  .services__bullits-item {
    position: relative;
    // top: -50%;
    max-height: 50px;
    overflow: visible;
  }
  .services__bullit-back {
    height: 150%;
    opacity: 1;
    border-radius: 16px;
  }
  .services__bullits-mobile-back {
    height: 150%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 16px;
    width: 100%;
    background-color: #00000079;
  }
  .services__bullits-item:hover {
    border: none;
    outline: none;
    box-shadow: none;
    .services__bullit-back {
      max-height: none;
    }
    .services__bullits-mobile-back {
      display: none;
    }
    .services__item-active {
      z-index: 3;
      height: max-content;
      border: 1px solid var(--Yelow, #af7b20);
      border-radius: 10px;
      overflow: hidden;
      background: #000000;
    }
  }

  .services__item-button {
    border: 1px solid var(--Yelow, #af7b20);
    padding: 8px 32px;
    z-index: 1;
    font-size: 10px;
    margin: 50px 0 0 0;
  }
  .marquee {
    margin: 160px 0 0 0;
  }
  .services__back-mobile {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: 0;
  }
  .services__item-description {
    z-index: 1;
  }
  .about__pegas-right,
  .about__pegas-left {
    display: none;
  }
  .about {
    padding: 40px 0;
  }
  .about__button {
    border: 1px solid var(--Yelow, #af7b20);
  }
  .partners__container {
    gap: 25px;
  }
  .consultation__container {
    flex-direction: column;
    gap: 24px;
  }
  .consultation__shadow {
    display: none;
  }
  .consultation {
    margin: 40px auto;
    border: 1px solid var(--White, #ffffff);
    padding: 10px;
  }
  .consultation__img {
    max-width: 320px;
    width: 100%;
  }
  .consultation__form .consultation__submit {
    border: 1px solid var(--Yelow-strobe, #d7ac45);
  }
  .consultation__form input {
    font-size: 10px;
    padding: 10px 15px;
  }
}
@media (max-width: px) {
}
