.main {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__back {
  align-self: center;
  justify-self: center;
  max-width: 1031px;
  opacity: 0.5;
  width: 60%;
}
.main__arrow {
  max-width: 40px;
  margin: 60px auto 0 auto;
  display: block;
  animation: jump 0.5s alternate infinite ease-in-out;
  cursor: pointer;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.main__content {
  position: absolute;
  align-self: center;
  justify-self: center;
}
.main__company-name {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 120px;
  font-weight: 600;
  line-height: 146.28px;
  letter-spacing: 0.18em;
  text-align: center;
  color: #ffffffbf;
}
.main__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 48.76px;
  text-align: center;
  color: #ffffff;
  margin: 40px 0 46px 0;
}
.main__contact {
  border: 3px solid var(--Yelow, #af7b20);
  padding: 16px 35px;
  border-radius: 40px;
  margin: auto;
  display: flex;
  text-decoration: none;
  gap: 20px;
  width: fit-content;
  align-items: center;
  background: var(--Black, #000000);
  transition: 0.3s;

  &:hover {
    background: var(--Yelow, #af7b20);

    .main__contact-link {
      color: #000000;
      font-weight: 600;
    }
    .main__contact-img {
      display: none;
    }
    .main__contact-img-black {
      display: block;
    }
  }
}
.main__contact-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
}

.main__contact-img-black {
  display: none;
}

.about {
  padding: 75px 0;
  display: grid;
  position: relative;
  width: 100%;
  margin: auto;
}

.about__pegas-left {
  position: absolute;
  align-self: center;
  left: 0;
  width: 30%;
  max-width: 700px;
  z-index: 0;
}

.about__pegas-right {
  position: absolute;
  align-self: center;
  right: 0;
  width: 30%;
  z-index: 0;
  max-width: 700px;
  transform: scaleX(-1);
}

.about__container {
  max-width: 1216px;
  width: 90%;
  z-index: 1;
  margin: auto;
}

.about__button {
  border: 3px solid var(--Yelow, #af7b20);
  padding: 12px 30px;
  border-radius: 75px;
  margin: auto;
  display: flex;
  text-decoration: none;
  gap: 20px;
  width: fit-content;

  align-items: center;
  background: var(--Black, #000000);
  transition: 0.3s;
  cursor: auto;
  // &:hover {
  //   background: var(--Yelow, #af7b20);

  //   .about__button-text {
  //     color: #000000;
  //   }
  //   .about__button-img {
  //     display: none;
  //   }

  //   .about__button-black {
  //     display: block;
  //   }
  // }
}
.about__button-text {
  font-family: "Montserrat semi bold", sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin: 0 0 50px 0;
}


.about__button {
  
  width: 100%;
  // max-width: 280px;
  // height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 2px;
  // margin-bottom: 30px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #eb9f11;
  cursor: pointer;
  text-decoration: none;

  position: relative;
  overflow: hidden;
}
.about__button:after {
  content: '';
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 2s ease-in-out 0.05s infinite;
}
.about__button{
  display: flex;
  cursor: pointer;
  padding: 15px 50px;
  display: block;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid var(--Yelow, #af7b20);
  background: var(--Black, #000);
  color: var(--White, #fff);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 50px auto;
  font-size: 20px;
  transition: 0.3s;
  &:hover {
    background: var(--Yelow, #af7b20);
    color: #000;
    font-weight: 700;
  }
}

.about__button-img {
  width: 60px;
}

.about__button-black {
  display: none;
  width: 60px;
}

.about__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #eaeaea;
  margin: 32px 0 0 0;
}

.partners {
  background: linear-gradient(
      0deg,
      var(--Yelow, #af7b20),
      var(--Yelow, #af7b20)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  padding: 24px 0;

  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.partners__container {
  width: 80%;
  max-width: 849px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.consultation {
  margin: 75px auto;
  width: 90%;
  border: 3px solid var(--White-Strobe-Form, #ffffff80);
  border-radius: 60px;
  position: relative;
}

.consultation__shadow {
  -webkit-box-shadow: 10px -6px 600px 300px rgba(215, 172, 69, 0.3);
  -moz-box-shadow: 10px -6px 600px 300px rgba(215, 172, 69, 0.3);
  box-shadow: 10px -6px 600px 300px rgba(215, 172, 69, 0.3);
  position: absolute;
  top: 30%;
  right: 10%;
  width: 0px;
  height: 00px;
  background: transparent;
  z-index: 0;
}

.consultation__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
}

.consultation__img {
  height: 100%;
  max-width: 963px;
  width: 60%;
}

.consultation__right {
  padding: 54px 46px 0 46px;
  position: relative;
}

.consultation__thanks {
  // display: none;
  // width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  // padding: 0 30px 0 0;
}

.consultation__title-thank {
  p {
    font-size: 40px;
    line-height: normal;
  }
}

.consultation__title {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #ffffffbf;
  max-width: 541px;
  margin: 0 auto 54px auto;
}

.consultation__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    border: 1px solid var(--Grey-input-Strobe, #cacaca);
    padding: 18px 15px;
    background: transparent;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    transition: 0.3s;
    &:focus {
      border: 1px solid #d7ac45;
    }

    &.reg::placeholder {
      color: #686868;
    }
  }
  .consultation__submit {
    border: 3px solid #d7ac45;
    background: transparent;
    border-radius: 40px;
    text-align: center;
    max-width: 274px;
    margin: auto;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 18px 70px;
    transition: 0.3s;

    &:hover {
      background: #d7ac45;
      color: #000000;
    }
  }
}




.form__checkbox {
  font-family: 'Montserrat', sans-serif;
  color: white;

  
}
.form__checkbox {
  display: flex;
  align-items: center;
  font-size: 16px; /* Размер шрифта */
}

.form__checkbox input[type='checkbox'] {
  -webkit-appearance: none; /* Убираем стандартный вид чекбокса */
  -moz-appearance: none;
  appearance: none;
  min-width: 40px; /* Ширина чекбокса */
  max-width: 40px;
  height: 40px !important;
  border: 2px solid #d7ac45; /* Цвет границы */
  border-radius: 4px; /* Закругление углов */
  outline: none; /* Убираем обводку при фокусе */
  cursor: pointer; /* Курсор при наведении */
  background-color: transparent; /* Прозрачный фон */
  padding: 0 !important;
}

.form__checkbox input[type='checkbox']:checked {
  background-color: transparent; /* Цвет фона при выборе */
  border-color: #d7ac45; /* Цвет границы при выборе */
}

.form__checkbox input[type='checkbox']:checked::after {
  content: '✓'; /* Символ галочки */
  color: white; /* Цвет галочки */
  position: relative;
  bottom: -5px;
  right: -7px;

  font-size: 30px; /* Размер галочки */
}
.form__checkbox-link {
  font-family: 'Montserrat', sans-serif;
  color: #d7ac45;
  text-decoration: none;
  margin: 0 0 0 5px;
}

.form__checkbox-text{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0 0 0 20px;
}

@media (max-width: 1920px) {
  .about__container {
    width: 80%;
  }
  .about__button {
    padding: 10px 34px;
  }
  .about__button-text {
    font-size: 42px;
    line-height: normal;
  }
  .about__description {
    line-height: normal;
    font-size: 22px;
  }
  .partners__container {
    gap: 25px;
  }
}
@media (max-width: 1700px) {
  .main__back {
    max-width: 700px;
  }
  .main__company-name {
    font-size: 90px;
    line-height: normal;
  }
  .main__title {
    line-height: normal;
    font-size: 28px;
    margin: 30px 0;
  }
  .about__button {
    padding: 15px 25px;
  }

  .about__button-img,
  .about__button-black {
    width: 40px;
  }
  .about__description {
    line-height: normal;
    font-size: 20px;

    max-width: 889px;
    margin: 32px auto 0 auto;
  }
  .about__pegas-right,
  .about__pegas-left {
    width: auto;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
  }
  .about {
    padding: 100px 0;
  }
  .partners__item {
    height: 30px;
  }
  .consultation__container {
    padding: 50px;
  }
  .consultation {
    width: 80%;
  }
  .faq {
    width: 80%;
  }
}
@media (max-width: 1500px) {
  .about__description {
    font-size: 16px;
  }
  .about__button-text,
  .consultation__title {
    font-size: 30px;
  }
  .consultation__form input {
    font-size: 16px;
    line-height: normal;
  }
  .form__checkbox input[type=checkbox]:checked::after{
    bottom: 3px;
  }
  .form__checkbox-text {
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  .main__contact-link {
    font-size: 19px;
    line-height: normal;
    padding: 5px 10px;
  }
  .about__button-text {
    line-height: normal;
    font-size: 29px;
  }
  .about__button-img,
  .about__button-black {
    width: 30px;
  }
  .consultation__title {
    font-size: 34px;
    line-height: normal;
  }
  .consultation__form input {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .about__button {
    font-size: 16px;
    padding: 15px 30px;
}
  .services__title {
    font-size: 20px;
  }
}
@media (max-width: 1078px) {
  .consent-checkbox {
    font-size: 12px;
  }
  .main__back {
    max-width: 400px;
  }
  .main__company-name {
    font-size: 70px;
  }
  .main__title {
    font-size: 22px;
    margin: 20px 0;
  }
  .main__arrow {
    max-width: 25px;
    margin: 30px auto 0 auto;
  }
  .main__contact {
    padding: 6px 26px;
    gap: 5px;
  }
  .main__contact-link {
    font-size: 16px;
  }
  .main__contact-img,
  .main__contact-img-black {
    max-width: 20px;
  }
  .fab {
    max-width: 45px;
  }
  .about__description {
    font-size: 16px;
    max-width: 539px;
  }
  .about__button {
    gap: 10px;
    padding: 10px 15px;
  }
  .about__button-text {
    font-size: 25px;
  }
  .partners__item {
    height: 25px;
  }
  .consultation__img {
    width: 50%;
  }
  .consultation__container {
    padding: 20px;
  }
  .consultation__right {
    padding: 20px;
  }
  .consultation__title {
    margin: 0 0 25px 0;
  }
  .consultation__form input {
    font-size: 16px;
    padding: 10px 10px;
  }
  .consultation__form {
    .consultation__submit {
      font-size: 16px;
      padding: 10px 15px;
      max-width: 183px;
    }
  }
  .consultation__shadow {
    top: -4%;
    right: 0%;
  }
}
@media (max-width: 768px) {
  .main__company-name {
    font-size: 50px;
  }
  .main {
    padding: 10px 0;
  }
  .main__title {
    font-size: 16px;
    margin: 10px 0 15px 0;
  }
  .main__contact-link {
    font-size: 14px;
  }
  .consultation__title {
    font-size: 20px;
  }
  .consultation__form input {
    font-size: 14px;
    padding: 5px 10px;
    line-height: normal;
    border-radius: 6px;
  }
  .consultation__form .consultation__submit {
    font-size: 14px;
    line-height: normal;
  }

  .consultation__img {
    width: 40%;
  }
  .partners__container {
    gap: 20px;
  }
  .consultation {
    border-radius: 30px;
  }
  .consultation__shadow {
    -webkit-box-shadow: 10px -6px 600px 200px rgba(215, 172, 69, 0.3);
    -moz-box-shadow: 10px -6px 600px 200px rgba(215, 172, 69, 0.3);
    box-shadow: 10px -6px 600px 200px rgba(215, 172, 69, 0.3);
  }
  .consultation__right {
    padding: 0;
  }
  .about__pegas-right,
  .about__pegas-left {
    height: auto;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .consultation__container {
    flex-direction: column;
    gap: 24px;
  }
  .consultation__shadow {
    display: none;
  }
  .consultation {
    margin: 40px auto;
    border: 1px solid var(--White, #ffffff);
    padding: 10px;
  }
  .consultation__img {
    max-width: 320px;
    width: 100%;
  }
  .consultation__form .consultation__submit {
    border: 1px solid var(--Yelow-strobe, #d7ac45);
  }
  .consultation__form input {
    font-size: 10px;
    padding: 10px 15px;
  }
  .form__checkbox-text {
    font-size: 10px;
}
}


@media (max-width: 450px) {
  .consultation {
    width: 90%;
  }
  .main {
    padding: 80px 0;
  }
  .main__back {
    max-width: 500px;
    width: 120%;
  }
  .main__company-name {
    font-size: 40px;
  }

  .main__contact {
    border: 1px solid var(--Yelow, #af7b20);
    padding: 10px 16px;
  }
  .main__contact-link {
    padding: 0;
  }

  .about__pegas-right,
  .about__pegas-left {
    display: none;
  }
  .about {
    padding: 40px 0;
  }
  .about__button {
    border: 1px solid var(--Yelow, #af7b20);
  }
  .partners__container {
    gap: 25px;
  }

}
