.rules__title {
  font-family: 'Montserrat semi bold', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #ffffffcc;
  text-transform: uppercase;
  margin: 0 0 50px 0;
}

.rules {
  padding: 100px 50px;
}

.rules__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  margin: 20px 0;
}

.rules__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
