.footer {
  width: 95%;
  display: grid;
  padding: 29px 0;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  gap: 90px;
  justify-content: space-between;
  align-items: stretch;
  margin: 80px auto 0 auto;
}

.footer__logo {
  max-width: 282px;
}
.footer__logo-pic {
  width: 100%;
}
.footer__column {
  display: grid;
  //   justify-content: center;
  //   align-items: center;
  width: 100%;
  gap: 15px;
}
// .footer:nth-child(4) {
//   margin: 0 0 50px 0;
// }

.footer__social-med {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  max-width: 233px;
}

.footer__tel {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
}
.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
  text-decoration: none;

  color: #ffffff;
}

.footer__info {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
}

@media (max-width: 1600px) {
  .footer__tel,
  .footer__info,
  .footer__link {
    font-size: 16px;
  }
  .footer__logo {
    max-width: 200px;
  }
}

@media (max-width: 1300px) {
  .footer {
    gap: 30px;
  }
  .footer__column {
    gap: 0;
  }
  .footer__tel,
  .footer__info,
  .footer__link {
    font-size: 14px;
    line-height: normal;
  }
  .footer__logo {
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .footer__social-med {
    gap: 10px;
    max-width: 123px;
  }
  .footer__soc-img {
    max-width: 30px;
  }
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    grid-auto-flow: dense;
  }
}

@media (max-width: 425px) {
  //   .footer__logo {
  //     display: none;
  //   }
  .footer {
    width: 90%;
  }

  //   .footer__column:nth-child(3) {
  //     order: 4;
  //   }
  //     .footer__column:nth-child(3) {
  //     order: 3;
  //   }
}
